.eventList
  display: block
  height: 60vh
  overflow: scroll
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)


.eventTime
  display: flex
  flex-direction: column
  align-items: end
.eventDelete
  color: red
  border: 1px red  solid
  border-radius: 5px



.eventItem
  display: flex
  justify-content: space-between
  // background: linear-gradient(90deg, rgba(21,236,170,0.648879620207458) 10%, rgba(75,196,59,0.7217087518601191) 76%, rgba(3,214,143,1) 100%)
  padding: 20px 
  margin: 20px 0
  border-radius: 5px  
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)
  
  


    
  
  
.eventText